.passbook-container {
    margin: 20px;
  }
  
  .passbook-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .passbook-input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .passbook-button {
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
  }
  
  .passbook-account-details {
    margin-bottom: 20px;
  }
  
  .passbook-transaction-title {
    font-size: 20px;
  }
  
  .passbook-transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: papayawhip;
    border-color: #4CAF50;

  }
  
  .passbook-transaction-table th, .passbook-transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .passbook-transaction-table th {
    background-color:#4CAF50;
    border-color: black;
  }
  
  .passbook-pagination {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .passbook-pagination li {
    margin: 0 5px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #ddd;
    border-radius: 3px;
  }
  
  .passbook-pagination li:hover {
    background-color: #4CAF50;
    color: white;
  }
  